/** Ceci est le code des éléments par défaut
*/
*{
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif; /** j'ai ajouté un fall-back au cas où les serveurs de fonts ne répondent plus */
}
div{
    width: 400px;
    max-width: 100%; /* la div mesurera 400px et au maximum 100% du body */
    margin: auto;
}
/** ----------------------------------------------------
Header
--------------------------------------------------------*/
header{
    background-color: brown;

}
nav{
    background-color: cadetblue;

}
/** ------------------------------------------------
Main
----------------------------------------------------*/
main{
    display: inline-block;
    width: 70%;
    background-color: chartreuse;
    height: 450px;
    vertical-align: top;
}

article{
    background-color: darkslateblue;
    height: 250px;
}
h1{
    background-color: gold;
    margin: 0;
    font-family: 'Sofia', sans-serif;
    font-size: 2.5em;
}
/** ----------------------------------------------------
Aside
--------------------------------------------------------*/
aside{
    display: inline-block;
    width: 28%;
    background-color: darkgray;
    height: 450px;
    vertical-align: top;
}
/** ----------------------------------------------------
Footer
--------------------------------------------------------*/
footer{
    background-color: darksalmon;
}
/**---------------------------------------------------
Images
----------------------------------------------------*/
svg{
    padding: 0;
}